// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}
@mixin xxl {
    @media (max-width: #{$screen-xxl-max}) {
        @content;
    }
}
// CSS Flexible Box Layout Module
// ---------------*

@mixin flex-direction($axis-x, $axis-y, $direction, $wrap) {
    display: flex;
    justify-content: $axis-x;
    align-items: $axis-y;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

// Typography
// ---------------*
@mixin primary-title {
    font-size: $primary-title-fz;
    color: $primary-title-color;
    font-weight: $primary-title-wieght;
}

@mixin hover {
    transform: scale(1.2);
    cursor: pointer;
}

@mixin cub {
    width: 70px;
    height: 71px;
    border-right: 2px solid #f1f1f1;
    margin: 0;
}

@mixin gradient_text {
    background: linear-gradient(0deg, #fd5272 0%, #f77359 100%) #fd5272;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f77359;
}