.aside {
    height: 612px;

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 90px;
        min-height: 48px;
        padding-bottom: 20px;
  
        text-decoration: none;
    }

    &__link--friends {
        background: url(../img/aside/friends.png) no-repeat center 20px;
    }

    &__link--messagees {
        background: url(../img/aside/messages.png) no-repeat center 20px;
    }

    &__link--like {
        background: url(../img/aside/like.png) no-repeat center 20px;
    }
}

.aside__nav {
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 488px;
    height: 50px;
    background-color: #fc6863;
}