.main {
    flex: auto;
    padding: 19px;
    min-width: 320px;
    max-width: 993px;
    min-height: 841px;
    background-color: #ECECEC;

}

.main__block-right--bot {
    @include flex-direction(space-between, center, row, wrap);
}

.main-top {
    @include flex-direction(space-between, center, row, wrap);
    margin-bottom: 19px;

}

.main__diagramm {
    @include flex-direction(space-around, center, column, nowrap);
    width: 704px;
    height: 266px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

// revenue
.main__revenue {
    @include flex-direction(space-around, center, column, nowrap);
    min-width: 264px;
    height: 266px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    &--title {
        @include flex-direction(center, center, row, nowrap);
        font-family: 'Lato', cursive;
        font-size: 14px;
        font-weight: bold;
        color: #777777;
    }

    &--img {
        min-height: 130px;
        min-width: 130px;
        background: url(../img/main/revenue-per-hour.png) no-repeat center;
    }

    &--list {
        @include flex-direction(space-between, center, row, nowrap);
        position: relative;
        min-width: 50px;
        font-weight: bold;
        font-size: 8px;
        color: #BFBFBF;

    }

    &--list::before {
        content: '';
        position: absolute;
        left: -9px;
        bottom: 0;
        border: 4px solid transparent;
        border-bottom: 6px solid #A889E9;
    }


    &--list::after {
        content: '';
        position: absolute;
        left: 22px;
        bottom: -3px;
        border: 4px solid transparent;
        border-top: 6px solid #FD5670;
    }
}

.main-bot {
    @include flex-direction(space-between, space-evenly, row, wrap);
    
}

.main__task {
    @include flex-direction(space-between, flex-start, column, wrap);
    width: 501px;
    height: 245px;
    padding: 20px;
    margin-bottom: 19px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    &--title {
        margin-bottom: 5px;
        padding-left: 10px;
        font-family: 'Lato', cursive;
        font-size: 14px;
        font-weight: bold;
        color: #777777;

    }

    &--desc {
        @include gradient_text;
        font-family: 'Lato', cursive;
        font-size: 12px;
        font-weight: bold;
        margin-right: 30px;
    }

    &--text {

        font-family: 'Lato', cursive;
        font-size: 12px;
        color: #BFBFBF;
        margin-right: 30px;
    }

    &--clock {
        font-family: 'Lato', cursive;
        font-size: 12px;
        color: #BFBFBF;

    }

    &--list {
        @include flex-direction(space-between, flex-start, column, nowrap);
        margin: auto auto;
    }

    &--item {
        @include flex-direction(space-around, flex-end, row, nowrap);
        width: 441px;
        border-top: 1px solid #EDEDED;
        padding-top: 10px;
        padding-bottom: 10px;

        &:last-child {
            border-bottom: 1px solid #EDEDED;
        }

        &:nth-child(even) {
            background-color: #FCFCFC;
        }
    }

    &--radio {
        margin-right: 12px;

}

    &--send {
        width: 20px;
        height: 20px;
        background: url(../img/main/clock.png) no-repeat center center;
    }

}

input[type='checkbox'],
label {
  cursor: pointer;
}
input[type='checkbox'] {
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
  
  input[type='checkbox']::before {
    content: '';
    position: absolute;
    top: 75%;
    left: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ECECEC;
  }
  
  input[type='checkbox']:checked::after {
    content: '';
    position: absolute;
    top: 75%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    @include gradient;
    transform: translate(-50%, -50%);
    visibility: visible;
  }


.main__feed {
    @include flex-direction(center, flex-start, column, wrap);
    min-width: 467px;
    height: 508px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    &--title {
        @include flex-direction(center, flex-start, column, wrap);
        font-family: 'Lato', cursive;
        font-size: 14px;
        font-weight: bold;
        margin-left: 8%;
        color: #777777;
    }

    &--time {
        font-family: 'Lato', cursive;
        font-size: 8px;
        margin-top: 13px;
        color: #979796;
    }

    &--field {
        @include flex-direction(space-between, center, row, wrap);
        width: 345px;
        min-height: 84px;
        background-color: #FCFCFC;
        border: 1px solid #F1F1F1;
        margin-left: 6%;
    }

    &--field p {
        font-family: 'Lato', cursive;
        line-height: 1.5;
        font-size: 12px;
        color: #BFBFBF;
        padding: 3%;
    }

    &--field p span {
        font-family: 'Lato', cursive;
        font-weight: bold;
        font-size: 12px;
        color: #777777;
    }

    &--block {
        @include flex-direction(flex-end, center, row, nowrap);
        margin: 0 auto;


        &-person {
            @include flex-direction(center, center, column, wrap);
        }

        &:nth-child(2) {
            padding-top: 6%;
        }
    }

    &--line {
        border-left: 4px solid #F1F1F1;
        max-width: 316px;
        margin: 6%;
        margin-left: 24%;
    }


}

.main__progress {
    @include flex-direction(space-around, center, column, nowrap);
    min-width: 241px;
    height: 245px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    &--title {

        font-family: 'Lato', cursive;
        font-size: 14px;
        font-weight: bold;
        color: #777777;
    }

    &--price {
        font-family: 'Lato', cursive;
        font-size: 20px;
        font-weight: bold;
        @include gradient_text_main;
    }

    &--img {
        min-height: 130px;
        min-width: 130px;
        background: url(../img/main/progress.png) no-repeat center;
    }

    &--list {
        @include flex-direction(space-between, center, row, nowrap);
        position: relative;
        min-width: 50px;
        font-size: 8px;
        font-weight: bold;
        color: #BFBFBF;

    }

    &--list::before {
        content: '';
        position: absolute;
        left: -9px;
        bottom: 0;
        border: 4px solid transparent;
        border-bottom: 6px solid #A889E9;
    }


    &--list::after {
        content: '';
        position: absolute;
        left: 22px;
        bottom: -3px;
        border: 4px solid transparent;
        border-top: 6px solid #FD5670;
    }
}

.main__shipments {
    @include flex-direction(space-around, center, column, nowrap);
    min-width: 241px;
    height: 245px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    &--block {
        width: 60%;
        @include flex-direction(space-between, center, row, nowrap);
    }

    &--title {
        @include flex-direction(center, center, row, nowrap);
        font-family: 'Lato', cursive;
        font-size: 14px;
        font-weight: bold;
        color: #777777;
    }

    &--price {
        font-family: 'Lato', cursive;
        font-size: 20px;
        font-weight: bold;
        @include gradient_text;
    }

    &--img {
        min-height: 115px;
        min-width: 187px;
        background: url(../img/main/shipments.png) no-repeat center;
    }

    &--list {
        @include flex-direction(space-between, center, row, nowrap);
        position: relative;
        min-width: 50px;
        font-size: 8px;
        font-weight: bold;
        color: #BFBFBF;
    }

    &--list::before {
        content: '';
        position: absolute;
        left: -9px;
        bottom: 0;
        border: 4px solid transparent;
        border-bottom: 6px solid #A889E9;
    }

    &--list::after {
        content: '';
        position: absolute;
        left: 22px;
        bottom: -3px;
        border: 4px solid transparent;
        border-top: 6px solid #FD5670;
    }
}